@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-color: #0D436C;
  text-align: center;
  color: white;
}
.main{
  color: white;
  vertical-align: middle;
  width:50%;
  height:50%;
  margin: auto;
  background-color: red;


}
